body {

    /*background: linear-gradient(0.5turn, hotpink, greenyellow, saddlebrown, blue);*/
}

#root {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black
}

.form {
    width: 500px;
    height: 350px;
    margin: 150px auto 0 auto;
}

.form__modal_wrapper {
    border: 25px solid #6a5acd;
    background-color: #646464;
    height: 350px;
    width: 400px;
    display: grid;
    grid-gap: 30px;
    grid-template-rows: 50px 50px 50px 50px 40px;
}

.form__input {
    font-size: 20px;
    width: 250px;
    margin: 50px auto 0 auto;
    height: 40px;
    outline: none;
    background-color: #a7a7a7;
    color: #a7a7a7;
}

.form__btn {
    font-size: 20px;
    font-weight: bolder;
    width: 40%;
    height: 40px;
    margin: 40px auto 0 auto;
    background-color: #6a5acd;
}